<!doctype html> 
<html ng-app = "cpacApp">

<head>

	<!-- Angular.js -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
	
	<!-- Moment.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>

	<!-- FontAwesome -->
	<link rel="stylesheet" href="fontawesome/css/font-awesome.min.css">
	
	<!-- Site-specific styles -->
	<link rel="stylesheet" href="styles.css" />
	
</head>

<body ng-controller="cpacController">
	<ul class="container">
		
		<li class="category" ng-repeat="category in data.categories">
			<div class="categoryName">{{category.name}}</div>
			
			<ul class="dayContainer" style="border-left-color: {{data.colors[$index]}}">
				<li ng-repeat="day in category.days">
					<ul class="quoteContainer">
						<li class="quote" ng-repeat="quote in day.quotes">
							<table>
								<tr>
									<td class="portraitContainer">
										<i class="fa fa-volume-up"></i>
										<div class="portrait" style="background-image: url({{quote.img}})"></div>
									</td>
									<td>
										<div class="speaker">
											<span>{{quote.speaker}}</span>
											<span>{{formatTime(quote.timestamp)}}</span>
											<span class = "new" ng-show="isNew(quote.timestamp)">new</span>
										</div>
										<span class="text" ng-bind-html="renderHTML(quote.text)" ng-show="false"></span>
										<span class="teaser" ng-bind-html="renderHTML(quote.teaseText)"></span>			
									</td>
								<tr>
							</table>
						</li>
					</ul>
				</li>
			</ul>
			
		</li>
		
	</ul>
</body>

<!-- Site-specific scripts -->
<script src="app.js"></script>

</html>