@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,300,100,500);

html, body {
	font-family: Roboto, Helvetica, sans-serif;
}

ul {
	list-style: none;
	padding:0;
}

li.category {
	margin-bottom:50px;
	
}

.categoryName {
	display: inline-block;
	width: 10%;
	vertical-align: top;
	text-align: right;
	font-weight: 600;
	margin-right: 0px;
	font-size: 22pt;
	position: relative;
	top: 15px;
}

ul.dayContainer {
	display:inline-block;
	border-left: 7px solid #76B6E3;
	margin-left: 30px;
	padding-left:0px;
	width:80%;
}

.quote {
	border-top: 1px solid #ccc;
	padding:10px 0px 10px 20px;
	position:relative;
}

	.quote:hover {
		background-color:#eee;
		cursor:pointer;
	}

		.quote:hover:before{
			content: " ";
			position:absolute;
			top: 0;
			left: -7px;
			width:7px;
			background-color:rgba(0,0,0,.2);
			height:100%;
		}

	.quote:last-child {
		border-bottom: 1px solid #ccc;
	}

.fa-volume-up {
	font-size: 35px;
	margin-right: 10px;
	position: relative;
	top: 11px;
	color: black;
	opacity: 0.2;
}

	.quote:hover .fa-volume-up {
		opacity: .8;
	}

.portraitContainer {
	min-width: 151px;
}


.portrait {
	width: 75px;
	height: 75px;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50%;
	border: 7px solid #ccc;
	display: inline-block;
	vertical-align:middle;	
	margin-right:15px;
}


.speaker {
	font-weight:400;
	font-size:12pt;
	display: block;
	margin-bottom:2px;
}

.text, .teaser {
	vertical-align:middle;
	font-size: 24px;
}